<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="94d491">  <td>18/09/08 09:58:34</td>   <td>0</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:tests.TC001_CreateLead@2ac273d3]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/08 09:58:35</td>   <td>1519</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TC001_CreateLead.setData()[pri:0, instance:tests.TC001_CreateLead@2ac273d3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="94d491">  <td>18/09/08 09:58:37</td>   <td>3808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:tests.TC001_CreateLead@2ac273d3]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1852584274</td>   <td></td> </tr>
<tr bgcolor="9b7d71">  <td>18/09/08 09:58:38</td>   <td>3923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_CreateLead.createLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.TC001_CreateLead@2ac273d3]">createLead</td> 
  <td>main@1852584274</td>   <td></td> </tr>
</table>
