<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83b467">  <td>18/09/09 12:03:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjMethodsBankBazaar.close()[pri:0, instance:projectTestCases.BankBazaarTC001@20398b7c]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/09 12:03:17</td>   <td>-40379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BankBazaarTC001.getScheme(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:projectTestCases.BankBazaarTC001@20398b7c]">getScheme</td> 
  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>18/09/09 12:03:07</td>   <td>-50931</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjMethodsBankBazaar.login(java.lang.String)[pri:0, instance:projectTestCases.BankBazaarTC001@20398b7c]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="6dabbc">  <td>18/09/09 12:03:06</td>   <td>-51793</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BankBazaarTC001.setData()[pri:0, instance:projectTestCases.BankBazaarTC001@20398b7c]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/09 12:03:05</td>   <td>-52537</td> <td title="&gt;&gt;HtmlReporter.startResult()[pri:0, instance:projectTestCases.BankBazaarTC001@20398b7c]">&gt;&gt;startResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/09 12:03:07</td>   <td>-50943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HtmlReporter.startTestCase()[pri:0, instance:projectTestCases.BankBazaarTC001@20398b7c]">&gt;&gt;startTestCase</td> 
<td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
<tr bgcolor="baeedf">  <td>18/09/09 12:03:59</td>   <td>1711</td> <td title="&lt;&lt;HtmlReporter.stopResult()[pri:0, instance:projectTestCases.BankBazaarTC001@20398b7c]">&lt;&lt;stopResult</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1022308509</td>   <td></td> </tr>
</table>
